body {
    font-family: sans-serif;
    background-color: black;
    color: rgb(0, 0, 0);
}

.logo {
    width: 230px;
    box-shadow: 0px 0px 0px 0px #dfb11b;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

.button {
    background-color: #616161;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 20px;
    display: block;
}

nav {
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(73, 73, 73);
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 23px;
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-family: century gothic;
    display: block;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
    font-family: century gothic;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: rgb(0, 0, 0);
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
    font-family: century gothic;
}

.article-but:hover {
    background-color: #b04ffa;
}


.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
    box-shadow: 0px 0px 50px 0px yellow;
}

footer {
    background-color: #ffd034;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
    width: 100%;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
    font-family: century gothic;
}

.footer-text span {
    color: #000000;
    font-weight: bolder;
}

.footer-text span:hover {
    color: #ffffff;
}

.soc {
    right: 0;
    position: fixed;
    top: 40%;
    background-color: #ffd034;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    font-family: century gothic;
}

.soc a {
    margin-bottom: 10px;
}

.pon {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
}

a:hover {
    color:rgb(255, 255, 255);
}

.popapisya {
    color: rgb(255, 255, 255);
    font-family: century gothic;
    font-size: 23px;
    text-decoration: none;
    display: block;
}

.ponel {
    color: rgb(255, 255, 255);
    font-family: century gothic;
    font-size: 20px;
    text-decoration: none;
    left: 50px;
    top: 50px
}

.nepon {
    position: relative;
    bottom: 20px;
    right: 80px;

}

.popa {
    position: relative;
    color: rgb(255, 255, 255);
    font-family: century gothic;
    font-size: 30px;
    text-decoration: none;
    right: 80px;
    bottom: 45px

} 

.jopa {
    display: block;
    width: 25px;
    height: 25px;
}
